@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@theme {
	--color-wlblue: #3a559c;
	--color-neonpink: #FF10F0;
	--color-muted: #A9A9A9;
	--font-sans: "Ubuntu", sans-serif;
}
@import "tailwindcss";

summary{
	display: block;
}

input {
	border: 1px solid var(--color-slate-600);
	border-radius: 0.25rem;
	height: 1.5em;
}

table {
	border-collapse: separate;
}

math {
	font-size: 1.2em;
}

.errorlist {
	line-height: 1.3rem;
	color: var(--color-red-300);
	margin-block: 0.25rem;
}


th.sortable.asc::after, th.ssf-sortable.asc::after {
  content: " ▲";
  @apply text-slate-400;
}

th.sortable.desc::after, th.ssf-sortable.desc::after {
  content: " ▼";
  @apply text-slate-400;
}

.generic-container {
	@apply bg-slate-900 p-4 border-b-4 border-wlblue w-full;
	> h1 {
		@apply font-bold mb-2;
	}
	a {
		@apply underline text-slate-200
	}
}

.password-visibility-container {
	position: relative;

	> button {
		position: absolute;
		right: 0;

		translate: 0 -50%;
		top: 50%;
		height: 1lh;
		line-height: 1lh;

		width: 1rem;
		aspect-ratio: 1;
		text-align: center;
		vertical-align: middle;
		position: absolute;

		color: var(--color-slate-400);
		font: 1.1em 'Material Symbols Outlined';
		margin-right: .2rem;

		cursor: pointer;

		&::after {
			content: "\f4a8";
		}
		&:is(input[type=text] + &)::after {
			content: "\f4a9"
		}
	}
}
