{% extends "base.html" %}

{% block content %}
<div class="container md:max-w-7/8 mx-auto px-8">
<div class="bg-slate-900 p-4 border-b-4 border-wlblue">
	<h1 class="text-5xl font-bold mb-4">problem list</h1>
	<p>
		Filters:
	</p>
</div>

{# TODO: infinite scrolling/pagination #}
<ul class="grid xl:grid-cols-4 grid-cols-[repeat(auto-fit,minmax(16rem,1fr))] justify-stretch gap-8 my-8 ">
	{% for problem in problems %}
	<li class="h-32">
		<a class="flex flex-col justify-center bg-slate-900 hover:bg-slate-800 transition-colors duration-75 border-b-4 border-wlblue px-4 py-2 w-full h-full" href="{{ problem.url }}" class="">
			<h1 class="text-xl font-bold">
				{% if problem in solved %}
				<span class="text-green-300 icon font-bold mr-0.5">&#xe5ca;</span>
				{% endif %}
				{{ problem.title }}
			</h1>
			<div class="tag-container h-10 mask-b-from-70%">
				{% for tag in problem.tags.all %}
					<span style="--color: {{ tag.color }}">
						{{ tag.contraction }}
					</span>
				{% endfor %}
			</div>
			<p class="bottom-2 w-full mt-1">
				<span>Points: {{ problem.points }}</span>
				<span class="text-slate-400 float-right">{{ problem.date_added | date:"Y/m/d" }}</span>
			</p>
		</a>
	</li>
	{% endfor %}
</ul>
</div>
{% endblock content %}
