{% extends "base.html" %}
{% load markdown %}

{% block head %}
{% if success %}
<script src="/static/confettea.min.js"></script>
<script>
	if (!matchMedia("(prefers-reduced-motion)").matches) {
		addEventListener("DOMContentLoaded", () => {
			confettea.burst({
				origin: { x: 0.5, y: 0 },
				colors: ["var(--color-wlblue)", "var(--color-slate-300)", "var(--color-green-300)"],
				spread: 180,
				particleCount: 300,
			});
		});
	}
</script>
{% endif %}
{% endblock head %}

{% block content %}
<div class="w-full grow flex gap-6 lg:px-36 not-md:contents">
	<div class="generic-container grow">
		<h1 class="text-5xl font-bold mb-4">
			{% if solved or success %}
			<span class="text-green-300 icon">&#xe5ca;</span>
			{% endif %}
			{{ problem.title }}
		</h1>
		<hr class="border-2 border-wlblue my-4" />
		<p>{{ problem.body | markdownify }}</p>
	</div>

	{# sidebar #}
	<div class="flex flex-col gap-6 not-md:w-64">
		<div class="self-start generic-container items-stretch relative w-64 leading-5">
			<h1 class="text-2xl">Submit</h1>
			<form method="post">
				{% csrf_token %}

				{{ form.non_field_errors }}

				{{ form.answer.errors }}

				<div class="grid grid-cols-[1fr_auto] gap-2 items-center">
					{{ form.answer }}
					<button type="submit" class="bg-wlblue text-white px-2 py-1 rounded-lg hover:bg-wlblue/80">
						Go!
					</button>
				</div>

				{% if success or solved %}
				<p class="text-green-300 mt-3">
					{% if success and solved %}
					That's correct, but you've already solved this problem!
					{% elif success %}
					That's the right answer!
					{% elif solved %}
					You've already solved this problem.
					{% endif %}
				</p>
				{% endif %}
				{% if user.is_anonymous %}
				<p class="absolute inset-0 bg-slate-900/75 grid place-items-center text-center text-slate-300 px-4">
					<span>
						<a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
						or
						<a href="{% url 'register' %}?next={{ request.path }}">Register</a>
						to submit solutions to this problem
					</span>
				</p>
				{% endif %}
			</form>
		</div>
		{% if user.is_superuser %}
		<div class="generic-container">
			<h1 class="text-2xl">Admin</h1>
			<a href="/admin/web/problem/{{ problem.id }}/change/">Edit problem</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
