{% extends "base.html" %}

{% block content %}
<div class="w-full h-full p-16 max-w-[64rem]">
	<div class="bg-slate-900 p-4 border-b-4 border-wlblue">
		<h1 class="text-5xl font-bold mb-4">Problem list</h1>
		<p>
			Filters: TODO
		</p>
	</div>

	{# TODO: infinite scrolling/pagination #}
	{# Table of problems #}
	<div class="overflow-x-auto my-8">
		<table class="w-full text-left border-collapse">
			<thead class="bg-slate-800 text-slate-200">

				<tr>
					<th class="px-4 py-2 border-b2 border-wlblue sortable">Name</th>
					<th class="px-4 py-2 border-b2 border-wlblue sortable">Category</th>
					<th class="px-4 py-2 border-b2 border-wlblue sortable">Points</th>
					<th class="px-4 py-2 border-b2 border-wlblue">Solved</th>
				</tr>
			</thead>
			<tbody>
				{% for problem in problems %}
				<tr class="hover:bg-slate-800 transition-colors duration-75">
					<td class="px-4 py-2 border-b border-slate-700">
						<a href="{{ problem.url }}" class="underline hover:text-wlblue">
							{{ problem.title }}
						</a>
					</td>
					<td class="px-4 py-2 border-b border-slate-700">
						{{ problem.category }}
					</td>
					<td class="px-4 py-2 border-b border-slate-700">
						{{ problem.points }}
					</td>
					<td class="px-4 py-2 border-b border-slate-700">
						{% if user.is_authenticated and problem in user.problems_solved.all %}
							S
						{% else %}
							X
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
